<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignInService</servlet-name>
  	<display-name>SignInService</display-name>
  	<description></description>
  	<servlet-class>Controller.SignInService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpService</servlet-name>
  	<display-name>SignUpService</display-name>
  	<description></description>
  	<servlet-class>Controller.SignUpService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignOutService</servlet-name>
  	<display-name>SignOutService</display-name>
  	<description></description>
  	<servlet-class>Controller.SignOutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PwCheckToReviseInfoService</servlet-name>
  	<display-name>PwCheckToReviseInfoService</display-name>
  	<description></description>
  	<servlet-class>Controller.PwCheckToReviseInfoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindPwService</servlet-name>
  	<display-name>FindPwService</display-name>
  	<description></description>
  	<servlet-class>Controller.FindPwService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RevisePwToFindPwService</servlet-name>
  	<display-name>RevisePwToFindPwService</display-name>
  	<description></description>
  	<servlet-class>Controller.RevisePwToFindPwService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignInService</servlet-name>
  	<url-pattern>/SignInService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpService</servlet-name>
  	<url-pattern>/SignUpService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignOutService</servlet-name>
  	<url-pattern>/SignOutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PwCheckToReviseInfoService</servlet-name>
  	<url-pattern>/PwCheckToReviseInfoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindPwService</servlet-name>
  	<url-pattern>/FindPwService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RevisePwToFindPwService</servlet-name>
  	<url-pattern>/RevisePwToFindPwService</url-pattern>
  </servlet-mapping>
</web-app>
