<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignInService</servlet-name>
  	<display-name>SignInService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.SignInService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpService</servlet-name>
  	<display-name>SignUpService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.SignUpService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignOutService</servlet-name>
  	<display-name>SignOutService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.SignOutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PwCheckToReviseInfoService</servlet-name>
  	<display-name>PwCheckToReviseInfoService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.PwCheckToReviseInfoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindPwService</servlet-name>
  	<display-name>FindPwService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.FindPwService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RevisePwToFindPwService</servlet-name>
  	<display-name>RevisePwToFindPwService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.RevisePwToFindPwService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdDuplicateCheckService</servlet-name>
  	<display-name>IdDuplicateCheckService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.IdDuplicateCheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailDuplicateCheckService</servlet-name>
  	<display-name>EmailDuplicateCheckService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.EmailDuplicateCheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviseInfoService</servlet-name>
  	<display-name>ReviseInfoService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.ReviseInfoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckPwToMyPageService</servlet-name>
  	<display-name>CheckPwToMyPageService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.CheckPwToMyPageService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentListService</servlet-name>
  	<display-name>GetStudentListService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.GetStudentListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentRecordListService</servlet-name>
  	<display-name>GetStudentRecordListService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.GetStudentRecordListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAnalysisResultService</servlet-name>
  	<display-name>GetAnalysisResultService</display-name>
  	<description></description>
  	<servlet-class>Analysis.Controller.GetAnalysisResultService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentRecordService</servlet-name>
  	<display-name>GetStudentRecordService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.GetStudentRecordService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudentRecordService</servlet-name>
  	<display-name>UpdateStudentRecordService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.UpdateStudentRecordService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveAnalysisResultService</servlet-name>
  	<display-name>SaveAnalysisResultService</display-name>
  	<description></description>
  	<servlet-class>Analysis.Controller.SaveAnalysisResultService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteAnalysisResultService</servlet-name>
  	<display-name>DeleteAnalysisResultService</display-name>
  	<description></description>
  	<servlet-class>Analysis.Controller.DeleteAnalysisResultService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetJobListService</servlet-name>
  	<display-name>GetJobListService</display-name>
  	<description></description>
  	<servlet-class>Job.Controller.GetJobListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetJobRelatedTendencyService</servlet-name>
  	<display-name>GetJobRelatedTendencyService</display-name>
  	<description></description>
  	<servlet-class>Job.Controller.GetJobRelatedTendencyService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTendencyListService</servlet-name>
  	<display-name>GetTendencyListService</display-name>
  	<description></description>
  	<servlet-class>Analysis.Controller.GetTendencyListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviseStudentService</servlet-name>
  	<display-name>ReviseStudentService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.ReviseStudentService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentListToReviseService</servlet-name>
  	<display-name>GetStudentListToReviseService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.GetStudentListToReviseService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudentRecordListService</servlet-name>
  	<display-name>AddStudentRecordListService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.AddStudentRecordListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudentRecordListService</servlet-name>
  	<display-name>DeleteStudentRecordListService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.DeleteStudentRecordListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudentRecordListService</servlet-name>
  	<display-name>UpdateStudentRecordListService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.UpdateStudentRecordListService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudentService</servlet-name>
  	<display-name>DeleteStudentService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.DeleteStudentService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateGetStudentListToReviseService</servlet-name>
  	<display-name>UpdateGetStudentListToReviseService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.UpdateGetStudentListToReviseService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RevisePersonalStudentService</servlet-name>
  	<display-name>RevisePersonalStudentService</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.RevisePersonalStudentService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnalysisService</servlet-name>
  	<display-name>AnalysisService</display-name>
  	<description></description>
  	<servlet-class>Analysis.Controller.AnalysisService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignInService</servlet-name>
  	<url-pattern>/SignInService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpService</servlet-name>
  	<url-pattern>/SignUpService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignOutService</servlet-name>
  	<url-pattern>/SignOutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PwCheckToReviseInfoService</servlet-name>
  	<url-pattern>/PwCheckToReviseInfoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindPwService</servlet-name>
  	<url-pattern>/FindPwService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RevisePwToFindPwService</servlet-name>
  	<url-pattern>/RevisePwToFindPwService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdDuplicateCheckService</servlet-name>
  	<url-pattern>/IdDuplicateCheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailDuplicateCheckService</servlet-name>
  	<url-pattern>/EmailDuplicateCheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviseInfoService</servlet-name>
  	<url-pattern>/ReviseInfoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckPwToMyPageService</servlet-name>
  	<url-pattern>/CheckPwToMyPageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentListService</servlet-name>
  	<url-pattern>/GetStudentListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentRecordListService</servlet-name>
  	<url-pattern>/GetStudentRecordListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAnalysisResultService</servlet-name>
  	<url-pattern>/GetAnalysisResultService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentRecordService</servlet-name>
  	<url-pattern>/GetStudentRecordService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudentRecordService</servlet-name>
  	<url-pattern>/UpdateStudentRecordService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveAnalysisResultService</servlet-name>
  	<url-pattern>/SaveAnalysisResultService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteAnalysisResultService</servlet-name>
  	<url-pattern>/DeleteAnalysisResultService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetJobListService</servlet-name>
  	<url-pattern>/GetJobListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetJobRelatedTendencyService</servlet-name>
  	<url-pattern>/GetJobRelatedTendencyService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTendencyListService</servlet-name>
  	<url-pattern>/GetTendencyListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviseStudentService</servlet-name>
  	<url-pattern>/ReviseStudentService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentListToReviseService</servlet-name>
  	<url-pattern>/GetStudentListToReviseService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentRecordListService</servlet-name>
  	<url-pattern>/AddStudentRecordListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudentRecordListService</servlet-name>
  	<url-pattern>/DeleteStudentRecordListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudentRecordListService</servlet-name>
  	<url-pattern>/UpdateStudentRecordListService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudentService</servlet-name>
  	<url-pattern>/DeleteStudentService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateGetStudentListToReviseService</servlet-name>
  	<url-pattern>/UpdateGetStudentListToReviseService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RevisePersonalStudentService</servlet-name>
  	<url-pattern>/RevisePersonalStudentService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnalysisService</servlet-name>
  	<url-pattern>/AnalysisService</url-pattern>
  </servlet-mapping>
</web-app>
