<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignInService</servlet-name>
  	<display-name>SignInService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.SignInService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpService</servlet-name>
  	<display-name>SignUpService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.SignUpService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignOutService</servlet-name>
  	<display-name>SignOutService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.SignOutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PwCheckToReviseInfoService</servlet-name>
  	<display-name>PwCheckToReviseInfoService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.PwCheckToReviseInfoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindPwService</servlet-name>
  	<display-name>FindPwService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.FindPwService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RevisePwToFindPwService</servlet-name>
  	<display-name>RevisePwToFindPwService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.RevisePwToFindPwService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdDuplicateCheckService</servlet-name>
  	<display-name>IdDuplicateCheckService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.IdDuplicateCheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailDuplicateCheckService</servlet-name>
  	<display-name>EmailDuplicateCheckService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.EmailDuplicateCheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviseInfoService</servlet-name>
  	<display-name>ReviseInfoService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.ReviseInfoService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckPwToMyPageService</servlet-name>
  	<display-name>CheckPwToMyPageService</display-name>
  	<description></description>
  	<servlet-class>UserInfo.Controller.CheckPwToMyPageService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentList</servlet-name>
  	<display-name>GetStudentList</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.GetStudentList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentRecordList</servlet-name>
  	<display-name>GetStudentRecordList</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.GetStudentRecordList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAnalysisResult</servlet-name>
  	<display-name>GetAnalysisResult</display-name>
  	<description></description>
  	<servlet-class>Analysis.Controller.GetAnalysisResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetStudentRecord</servlet-name>
  	<display-name>GetStudentRecord</display-name>
  	<description></description>
  	<servlet-class>Student.Controller.GetStudentRecord</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignInService</servlet-name>
  	<url-pattern>/SignInService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpService</servlet-name>
  	<url-pattern>/SignUpService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignOutService</servlet-name>
  	<url-pattern>/SignOutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PwCheckToReviseInfoService</servlet-name>
  	<url-pattern>/PwCheckToReviseInfoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindPwService</servlet-name>
  	<url-pattern>/FindPwService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RevisePwToFindPwService</servlet-name>
  	<url-pattern>/RevisePwToFindPwService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdDuplicateCheckService</servlet-name>
  	<url-pattern>/IdDuplicateCheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailDuplicateCheckService</servlet-name>
  	<url-pattern>/EmailDuplicateCheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviseInfoService</servlet-name>
  	<url-pattern>/ReviseInfoService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckPwToMyPageService</servlet-name>
  	<url-pattern>/CheckPwToMyPageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentList</servlet-name>
  	<url-pattern>/GetStudentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentRecordList</servlet-name>
  	<url-pattern>/GetStudentRecordList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAnalysisResult</servlet-name>
  	<url-pattern>/GetAnalysisResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetStudentRecord</servlet-name>
  	<url-pattern>/GetStudentRecord</url-pattern>
  </servlet-mapping>
</web-app>
