@charset "EUC-KR";
* {
    margin: auto;
    padding: 0;
}
body {
    margin: 0;
    background-color: #133f12;
}

a {
    text-decoration: none;
    color: white;
}

.innerbox{
    box-sizing: border-box;
    position: float;
    width: 1689px;
    height: 800px;
    left: 117px;
    top: 1009px;
    align-items: center;
    margin-top: 2%;
    border: 8px solid #ffff;
    border-radius: 25px;
    padding: 1% 1%;
}

.innernav{
    position: float;
    background-color:#ffff;
	color:white;
	width:30%;
	height:90%; 
    text-align:center;
    line-height:40px; 
    color: black;
    border-radius: 3%;
}

.innersection{
    background-color:#133F12;
    width:70%;
    height: 90%;
	padding:10px;
    line-height:40px; 
    color : #ffff
    
}
.inner_title{
    text-align: center;
    font-size: 30px;
}

.inner_name{
    align: left;
    margin-left: 5%;
    font-size: 20px;
}

.inner_text{
    text-align: center;
}
.inner_textbox{
    margin-left: 5%;
}

.textarea{
    width: 1000px;
    height: 450px;
    text-align:center;
    align-items: center;
    padding: 3%
}
.inner_btn1{
    display: block;
    width: 50px;
    height: 30px;
    background-color: #133f12;
    color: #fff;
    font-size: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s linear;
    align: right;
   }
.inner_btn1:hover {
   opacity: .85;
}
.inner_btn1:disabled {
   background-color: transparent;
   color: #ddd;
   border: 2px solid;
}

.inner_btn{
     display: block;
     width: 80px;
     height: 55px;
     background-color: #133f12;
     color: #fff;
     font-size: 15px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: .3s linear;
     filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.5));
     align: right;
    }
.inner_btn:hover {
    opacity: .85;
}
.inner_btn:disabled {
    background-color: transparent;
    color: #ddd;
    border: 2px solid;
}

/* 메뉴바 css */
.navbar {
    background-color: #133F12;
    display: flex;
    justify-content: space-between;
    width: --webkit-fill-available;
    height: 86px;
}

.navbar__logo {
    font-size: 24px;
}
.navbar_center{
    color: white;
}
.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    background-color: #133F12;

    padding: 8px 12px;
}
.navbar__menu li:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.navbar__menu li a:hover {
    color:#133f12;
}

.navbar__links {
    list-style: none;
    padding-left: 0;
    color: teal;
    display: flex;
}

.navbar__links li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}